<div id="home-page" class="home_page">
  <p>
    <%= image_tag 'logo.jpg',:height => '250', :width => '250' %>
  </p>
  <p><h1>....................Coming Soon....................</h1></p>
<p><h2>Our application are coming soon, It will boom to market. Lets wait.....</h2></p>
<p>By:- Sandip Mondal & Sunny Bogawat</p>
</div>
